.startUser {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startUsername {
  height: 40px;
  width: 30%;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 1%;
}

.startUsername:focus {
  outline: none;
}

.startButton {
  height: 40px;
  width: 30%;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
